<h1>Editing announcements</h1>

<%= render "form", announcement: @announcement %>

<br>

<div>
  <%= link_to "Show this announcements", @announcement %> |
  <%= link_to "Back to announcements", announcements_path %>
</div>

