<p style="color: green"><%= notice %></p>

<h1 style="color:#4D2D18">Announcements</h1>

<div id="announcements" style="color: black;">
   <% @announcements.each do |announcement| %>
    
    <%= render 'message', announcement: announcement%>

    <% if is_officer_or_admin?(session) && is_officer_or_admin_view?(session) %>
      <p>
        <%= link_to "Show this announcements", announcement, class: "edit-link" %>
      </p>
    <% end%>

    <hr>

  <% end %>
</div>

<% if is_officer_or_admin?(session) && is_officer_or_admin_view?(session) %>
  <%= link_to "New announcements", new_announcement_path, class: "" %>
<% end %>