<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Link - H.E.A.T.</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>

  <!-- Navbar Removed -->

<div class="centered-content">
  <h2>New Event</h2>

  <%= render "form", event: @event %>
  <%= link_to "Back to events", events_path, class: "back-link" %>
</div>

</body>
</html>

