<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Link - H.E.A.T.</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>

  <!-- Navbar Removed, place it back here if need to remove it from applications.html.erb -->

  <!-- Main Content -->
  <div class="centered-content">
    <h2>New Link</h2>
    <%= render 'form' %>
    <%= link_to 'Back', links_path, class: "btn btn-secondary" %>
  </div>

  <!-- Footer Removed -->
</body>
</html>
