<body>

<ul>
  <%= month_calendar() do |date| %>
    <%= date%>
    <% @eventdates.each_index do |i| %>
      <div>
        <%if @eventdates[i] == date.to_s()%>
            <%= @events[i].summary %>
        <%end%>
      </div>
    <% end %>
  <% end %>
</ul>

</body>

</html>