<div id="<%= dom_id photo %>">
  <p>
    <strong>Path:</strong>
    <%= photo.path %>
  </p>

  <p>
    <strong>Alt text:</strong>
    <%= photo.alt_text %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= photo.description %>
  </p>

</div>
