<body>

<div class="centered-content">
  <h2>Editing member</h2>
  <%= render "form", member: @member %>

  <%= link_to "Show this member", @member %> |
  <%= link_to "Back to members", members_path %>
</div>
</body>